

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* position: relative; */
  /* top: 0px; */
  /* bottom: 0px; */
  /* height: 400px; */
  width: 100vw;
  padding: 200px;
  background-image: linear-gradient(
      to bottom right,
      rgba(129, 79, 32, 0.6),
      rgba(190, 185, 113, 0.6)
    ),
    url("../resources/images/bg-image.jpeg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.content p {
  font-size: 22px;
  color: white;
}
.content h2 {
  font-size: 52px;
  padding: 5px;
  color: white;
}
