/* Header */


/* header {
    background-color: #b27320;
    color: rgb(0, 0, 0);
    padding-top: 100px;
    /* padding-right: 30px; */
    /* padding-bottom: 20px; */
  /* padding-left: 80px; */
    /* position: absolute; */
    /* top: 0px; */
    /* width: 100vw; */
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
  /* } */

  .name {
      font-size: 25px;
      font-family: "Poppins" , sans-serif;
      color: #000;
      text-decoration: none;
      margin-left: 10px;
    }
    
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding: 0px;

    background-color: #b36507;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    /* padding-right: 30px; */
    padding-bottom: 10px;
  /* padding-left: 80px; */
    position: relative;
    /* top: 0px; */
    width: 100vw;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .logo {
    width: 80px;
    padding-left: 20px ;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    background-color: #7B3F00;
    border-radius: 4px;
    color: white;
  }
  
   /* Footer */
   footer {
    background-color: #af5103;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: auto; 
    width: 100vw ;
    }


    @media (max-width: 768px) {
      nav {
        display: block;
      }
      
      .logo {
        text-align: center;
      }
      
      .nav-links {
        margin-top: 1rem;
        justify-content: space-between;
      }
      
      .nav-links li {
        margin-right: 0;
      }
    
    }